


<h1>About</h1>


<p>
	This is a clone of <%= link_to "Pinterest", "#" %> made in <%= link_to "Ruby on Rails 4", "#" %>, just for experimentation. It has been couple of months since I learned Rails 4. I had no original idea of mine, so I continued playing around by building clones of popular websites like Stackoverflow, Twitter, Facebook, and now Pinterest. Upcoming clones on my list are Etsy, Dropbox and Wordpress Blog.

	You can checkout these on my <%= link_to "GitHub", "#" %> account.

	<p>
		You can contact me at anmol@interaction-design.org
	</p>
</p>



